/*
    COMPONENTS.BUTTON
    ----
    
==================================================== */

/* Buttons config */
$button-base-size: 40px;
$button-color-maps: (
    primary:(
        bgColor: (
            normal:    white,
            hover:     #000,
            focus:     #000,
            disabled:  white
        ),
        textColor: (
            normal:    #000,
            hover:     white,
            focus:     white,
            disabled:  #000,
        ),
    ),
    secondary: (
        bgColor: (
            normal:    white,
            hover:     red,
            focus:     red,
            disabled:  white
        ),
        textColor: (
            normal:    red,
            hover:     #000,
            focus:     #000,
            disabled:  gray,
        ),
        borderColor: (
            normal:    red,
            hover:     red,
            focus:     red,
            disabled:  red
        )
    )
);



/*
    BUTTON.BASE
*/

@mixin buttonBase{
    @include resetAppearance(); //reset default browser btn appearance

    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: inherit;
    text-align: center;
    white-space: nowrap;

    transition: background 0.15s, color 0.15s, border 0.15s;
    will-change: background, color, border;
}

@mixin buttonSkeleton{
    border-radius: $button-radius;
    padding: 0 1rem;
    height: $button-base-size;
    font-weight: 700;
    @include font-size(14px, $button-base-size);
}

.c-button{
    @include buttonBase;
}

    .c-button__icon,
    .c-button__text{
        vertical-align: middle;
    }

    .c-button__text:first-child{
        margin-right: 0.5rem;
    }

    .c-button__text:last-child{
        margin-left: 0.5rem;
    }

    .c-button__icon{
        margin-top: -1px;
        // transition: fill 0.15s, color 0.15s;
    }

