/*
    COMPONENTS.DRAWER
    ----
    
==================================================== */

//key names must match s.mappy-breakpoints keys
$drawer-size-map:(
	base: 304px,
	sm: 320px,
)


.c-drawer{
	display: flex;
	flex-direction: column;
	position: fixed;
	top:0;
	left: 0;
	height: 100vh;
	width: map-get($drawer-size-map, 'base');
	

	//responsive sizes, just add mappy bp and desire sizes for more
	@each $key, $value in $drawer-size-map{
		@if $key != "base" {
			@include mappy-bp($key{
				width: $value;
			}
		}

		@return false;
	}
}


.c-drawer__header,
.c-drawer__footer{
	flex: none;
}
	
	.c-drawer__header{

	}

	.c-drawer__body{
	    flex:1;
	    display: flex;
	    flex-direction: column;
	    justify-content: flex-start;
	    align-items: center;
	    overflow-x: hidden;
	    overflow-y: scroll;
	    -webkit-overflow-scrolling: touch;
	}

	.c-drawer__footer{
		
	}


